.divpadre{
width: 100%;
height: 100vh;


}
img{
margin-left: 350px;


}

@media screen and (max-width: 600px){
    
    .divpadre{
        width: 350px;
        height: 300px;
    }

        
        img{

     width: 345px;
     margin:auto;

}
}