
.menu_bar {
    display:none; 
}
 nav{
     width: 100%;
position: fixed;
top: 0px;
z-index: 1000;

 }



@media screen and (max-width: 900px) {

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0px;
        background:#ff00008e;
        z-index: 10000;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 10px;
		color: #fff;
		overflow: hidden;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 10px;
	}

	header nav {
		
		background: rgba(255, 0, 0, 0.658);
		width: 150px;
		height: auto;
		position: fixed;
		right:100%;
		margin: 1px;
		top: 45px;
		border: 4px solid #888;
        box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.226);
        z-index: 1000;

	}

	header nav ul li {
		padding: 1px;
		display: block ;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;

	}

	header nav ul li:hover .children {
		background-color: rgba(0, 0, 0, 0.548);
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
    .social{
        display: none;
    }
	
}
